.friends-thumbnail {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    object-fit: cover;
    border-radius: 60px;

}

.friend-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-shadow: grey 2px 2px 2px 2px;
    padding: 16px 10px 10px 10px;
    width: 140px;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

.friend-card:hover{
    box-shadow: grey 4px 4px 4px 4px;
    color: rgb(31, 31, 31);
    cursor: pointer;

}

.friend-div {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80vw;
    margin: 60px auto;
    flex-wrap: wrap;
}